html {
    background-color: #f2f2f2;
    font-size: 16px;
}

body {
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: black;
    }

img {
    display: block;
    width: 35%;
    border-radius: 35%;
    margin-left: auto;
    margin-right: auto;
    }

h2 {
    font-size: 25px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid darkslategray;
    color: orangered;
    text-align: center;
}

p {
    font-family: 'Public Sans', sans-serif;
}

h3 {
    font-size: 25px;
    padding: 10px 0px 10px 0px;
    color: orangered;
    text-align: center;
    border-bottom: 1px solid darkslategray;
}



div {
    padding: 0px 0px 10px 0px;
    color: black;
    text-align: center;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;   
}

ul {
    padding: 10px 10px;
    font-size: 8px;
}